GEMINI_API_KEY=AIzaSyxxx
SUPABASE_URL=https://pcengcxbkeinsznrsafl.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjZW5nY3hia2VpbnN6bnJzYWZsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDY5Njc3OSwiZXhwIjoyMDkwMjcyNzc5fQ.vp3q49xg4nsruPyL6zIXv0MRRGIw2MNHtyXn2mIfjWw